# `{{ widget_class_name }}`控件

## 一、控件类型：`{{ widget_class_name }}`

> 源码: [`pyguiadapter/widgets/{{widget_category}}/{{widget_class_filename}}`]()

<img src="../images/{{ widget_class_name }}.png" />

## 二、配置类型：`{{ widget_config_class_name }}`

> 源码: [`pyguiadapter/widgets/{{widget_category}}/{{widget_config_class_filename}}`]()

```python
{{ widget_config_class_source }}
```

{{ widget_config_props_table }}

## 三、示例

> 源码：[examples/widgets/{{widget_class_name}}_example.py]()

```python

```

<img src="../images/{{widget_class_name}}.png" />

---

[参数数据类型及其对应控件](widgets/types_and_widgets.md)